{% extends "templates/base.html" %}
{% block content %}
	<div class="row">
		<div class="col col-login mx-auto">
			<form class="card" id="password_reset">
				<div class="card-body p-6">
					<div class="card-title text-center"> Reset Password </div>
					<div class="card-title text-center reset-validation hidden alert-info"></div>
					<div class="form-group">
						<label class="form-label" >Email</label>
						<input aria-describedby="emailHelp" placeholder="Enter email" class="form-control" type="email" id="reset_email">	
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Submit</button>	
					</div>	
				</div> 
			</form>
		</div>
	</div>
{% endblock %}
{% block script %}
	{% include "templates/includes/dashboard/js/password_reset.js" %}
{% endblock %}
